{
    frankenphp
    order php_server before file_server
}

# Localhost için HTTPS'i devre dışı bırak
http://localhost, https://localhost {
    tls internal  # localhost için self-signed sertifika kullanımını engeller
    root * /app/public
    php_server
}

# Diğer tüm domainler için normal HTTPS yapılandırması
:80 {
    root * /app/public
    php_server
}
